{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row" style="margin-top: 20px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ html_block.name }}</h2>
            </div>
            <div class="panel-body">
                {{ html_block.content|safe }}
            </div>
            <div class="panel-footer">
                <a href="/">Back to Bibliography</a>
            </div>
        </div>
    </div>
{% endblock %}