{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/vis-network.min.css' %}" rel="stylesheet">
    <style>
        #rel_graph {
            width: 100%;
            height: 600px;
            z-index: 500;
            background-color: #f5f5f5;
        }

        #rel_graph_controls {
            text-align: right;
            position: relative;
            top: 38px;
            left: -4px;
            z-index: 600;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 20px;">
        Record no. {{ source.id }}. <a href="/page/how-to#Cite" target="_blank">How do I cite this entry?</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ source.title }}</h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% if source.primary_genre or source.fields.all or source.primary_language or source.languages.all %}
                        <li class="list-group-item">
                            <dl class="dl-horizontal">
                                {% if source.primary_genre or source.fields.all %}
                                    <dt>Genre/Type Descriptor(s)</dt>
                                    <dd>
                                    {% if source.primary_genre %}
                                        {{ source.primary_genre }}{% if source.fields.all %}<br>{% endif %}
                                    {% endif %}
                                    {% for field in source.fields.all %}
                                        {{ field }}{% if not forloop.last %}<br>{% endif %}
                                    {% endfor %}
                                    </dd><dt>&nbsp;</dt><dd></dd>
                                {% endif %}
                                {% if source.primary_language or source.languages.all %}
                                    <dt>Language(s)</dt>
                                    <dd>
                                    {% if source.primary_language %}
                                        {{ source.primary_language }}{% if source.languages.all %}<br>{% endif %}
                                    {% endif %}
                                    {% for lang in source.languages.all %}
                                        {{ lang }}{% if not forloop.last %}<br>{% endif %}
                                    {% endfor %}
                                    </dd>
                                {% endif %}
                            </dl>
                        </li>
                    {% endif %}
                    {% if source.roleperson_set.all %}
                        <li class="list-group-item">
                            <dl class="dl-horizontal">
                                {% for roleperson in source.roleperson_set.all %}
                                <dt>{{ roleperson.role }}</dt><dd><span class="entity" data-id="{{ roleperson.person.id }}">{{ roleperson.person }}</span></dd>
                                {% endfor %}
                            </dl>
                        </li>
                    {% endif %}
                    {% if source.container or source.series_title or source.series_number or source.formats.all or source.pages or source.publisher or source.pub_year or source.locations.all or source.volume or source.volume_number or source.issue or source.edition %}
                        <li class="list-group-item">
                            <dl class="dl-horizontal">
                                {% if source.container %}
                                    <dt>Contained in</dt><dd>{{ source.container }}</dd>
                                {% endif %}
                                {% if source.series_title %}
                                    <dt>Serial Title</dt><dd>{{ source.series_title }}</dd>
                                {% endif %}
                                {% if source.series_number %}
                                    <dt>Series Number</dt><dd>{{ source.series_number }}</dd>
                                {% endif %}
                                {% if source.volume %}
                                    <dt>Volume</dt><dd>{{ source.volume }}</dd>
                                {% endif %}
                                {% if source.volume_number %}
                                    <dt>Volume Number</dt><dd>{{ source.volume_number }}</dd>
                                {% endif %}
                                {% if source.issue %}
                                    <dt>Issue</dt><dd>{{ source.issue }}</dd>
                                {% endif %}
                                {% if source.edition %}
                                    <dt>Edition</dt><dd>{{ source.edition }}</dd>
                                {% endif %}
                                {% if source.pages %}
                                    <dt>Location Details</dt><dd>{{ source.pages }}</dd>
                                {% endif %}
                                {% if source.locations.all %}
                                    <dt>City</dt>
                                    <dd>
                                    {% for location in source.locations.all %}
                                        {{ location }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    </dd>
                                {% endif %}
                                {% if source.publisher %}
                                    <dt>Publisher</dt><dd>{{ source.publisher }}</dd>
                                {% endif %}
                                {% if source.pub_year %}
                                    <dt>Date</dt><dd>{{ source.pub_year }}</dd>
                                {% endif %}
                            </dl>
                        </li>
                    {% endif %}
                    {% if relationships %}
                        <li class="list-group-item">
                            <dl class="dl-horizontal">
                                <dt>Relationships</dt>
                                <dd>
                                {% for relation in relationships %}
                                    <div class="hanging-indent">{{ relation.relationship }} -> <a href="/detail?id={{ relation.to_source.id }}" target="_blank">{{ relation.to_source }}</a></div>
                                {% endfor %}
                                    <button id="show_graph_button" type="button" class="btn btn-primary">
                                        Visualize Relationships
                                    </button>
                                </dd>
                            </dl>
                            <div id="graph_container">
                                <div id="rel_graph_controls" class="hidden">
                                    <button id="next_node_button" type="button" class="btn btn-primary">
                                        Next Connected Entry
                                    </button>
                                    <button id="hide_graph_button" type="button" class="btn btn-primary">
                                        Hide Visualization
                                    </button>
                                </div>
                                <div id="rel_graph" class="hidden"></div>
                            </div>
                        </li>
                    {% endif %}
                    {% if source.doi or source.notes or source.notes2 or source.notes3 or source.notes4 %}
                        <li class="list-group-item">
                            <dl class="dl-horizontal">
                                {% if source.doi %}
                                    <dt>Identifying Numbers</dt><dd>{{ source.doi }}</dd><dt>&nbsp;</dt><dd></dd>
                                {% endif %}
                                {% if source.notes %}
                                    <dt>Descriptive Notes</dt><dd>{{ source.notes|safe }}</dd><dt>&nbsp;</dt><dd></dd>
                                {% endif %}
                                {% if source.notes2 %}
                                    <dt>Scholarship</dt><dd>{{ source.notes2|safe }}</dd><dt>&nbsp;</dt><dd></dd>
                                {% endif %}
                                {% if source.notes3 %}
                                    <dt>Notes on Prior Documentation</dt><dd>{{ source.notes3|safe }}</dd><dt>&nbsp;</dt><dd></dd>
                                {% endif %}
                                {% if source.notes4 %}
                                    <dt>Authentication</dt><dd>{{ source.notes4|safe }}</dd>
                                {% endif %}
                            </dl>
                        </li>
                    {% endif %}
                    {% if last_update %}
                        <li class="list-group-item">
                            <dl class="dl-horizontal">
                                <dt>Last Updated</dt><dd>{{ last_update }}</dd>
                            </dl>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="panel-footer">
                <a href="/">Back to Bibliography</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tippy-bundle.umd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vis-network.js' %}"></script>
    <script type="text/javascript">
        let target_id = "{{ source.id }}";
        let viz_loaded = false;
        let network = null;
        let show_graph_button = $('#show_graph_button');
        let graph = $('#rel_graph');
        let graph_controls = $('#rel_graph_controls');
        let node_neighbors = null;
        let node_neighbor_cursor = 0;

        $(document).ready(function() {
            show_graph_button.click(function() {
                if (!viz_loaded) {
                    show_graph_button.append(` <img src="{% static 'img/loading.gif' %}" height="14px" />`);
                    graph.removeClass('hidden');

                    $.getJSON( `/graph?id=${target_id}`, function(data) {
                        let options = {
                            nodes: {
                                shape: 'box',
                                font: {
                                    color: '#FFFFFF',
                                    size: 16
                                },
                                margin: 10
                            },
                            edges: {
                                smooth: {
                                    type: "cubicBezier",
                                    forceDirection: "vertical",
                                    roundness: 0.4,
                                },
                            },
                            layout: {
                                hierarchical: {
                                    direction: "UD",
                                },
                            },
                            physics: {
                                hierarchicalRepulsion: {
                                    avoidOverlap: 1,
                                    nodeDistance: 200,
                                    springConstant: .005
                                },
                            },
                            interaction: {
                                hover: true,
                                zoomSpeed: .5
                            }
                        };
                        network = new vis.Network($('#rel_graph')[0], data, options);

                        network.on("stabilized", function() {
                            if (!viz_loaded) {
                                network.fit({ nodes: [target_id], animation: true });
                                network.setSelection({nodes: [target_id]}, {highlightEdges: true});
                                show_graph_button.addClass('hidden');
                                graph_controls.removeClass('hidden');
                                graph[0].scrollIntoView();
                                node_neighbors = network.getConnectedNodes(target_id);
                                node_neighbors.push(target_id);

                                $('#next_node_button').click(function() {
                                    let neighbor = node_neighbors[node_neighbor_cursor];
                                    node_neighbor_cursor += 1;
                                    if (node_neighbor_cursor === node_neighbors.length)
                                        node_neighbor_cursor = 0;

                                    network.fit({ nodes: [neighbor], animation: true });
                                    network.setSelection({nodes: [neighbor]}, {highlightEdges: true})
                                });

                                $('#hide_graph_button').click(function() {
                                    graph.addClass('hidden');
                                    graph_controls.addClass('hidden');
                                    show_graph_button.removeClass('hidden');
                                    show_graph_button.html('Visualize Relationships');
                                });

                                viz_loaded = true;
                            }
                        });

                        network.on("click", function(params) {
                            if (params.nodes.length > 0) {
                                let clicked_node = params.nodes[0];
                                if (clicked_node !== target_id)
                                    window.open(`/detail?id=${clicked_node}`, '_blank');
                            }
                        });
                    });
                } else {
                    graph.removeClass('hidden');
                    graph_controls.removeClass('hidden');
                    show_graph_button.addClass('hidden');
                    network.fit({nodes: [target_id]});
                    network.setSelection({nodes: [target_id]}, {highlightEdges: true});
                    node_neighbor_cursor = 0;
                }
            });

            $('span.entity').each(function() {
                let entity = jQuery(this)
                tippy(entity[0], {
                    arrow: true,
                    animation: 'fade',
                    trigger: 'click',
                    interactive: true,
                    allowHTML: true,
                    content: 'Loading...',
                    onShow(instance) {
                        $.getJSON(`/people?id=${entity.data('id')}`, function(person) {
                            if (person.length === 1) person = person[0]
                            console.log(person)
                            let content = `
                                <label class="entity-popup-label">${person.full_name}</label>
                                ${person.URI ? `<div><b>URI:</b> <a href="${person.URI}" target="_blank">${person.URI}</a></div>` : ''}
                                <table>
                                    ${person.first_name ? `<tr><td><b>First Name:</b></td><td>${person.first_name}</td></tr>` : ``}
                                    ${person.last_name ? `<tr><td><b>Last Name:</b></td><td>${person.last_name}</td></tr>` : ``}
                                    ${person.title ? `<tr><td><b>Title:</b></td><td>${person.title}</td></tr>` : ``}
                                    ${person.birth_date ? `<tr><td><b>Birth:</b></td><td>${person.birth_date.substring(0, 4)}</td></tr>` : ``}
                                    ${person.death_date ? `<tr><td><b>Death:</b></td><td>${person.death_date.substring(0, 4)}</td></tr>` : ``}
                                </table>

                                <button type="button"
                                    class="btn btn-primary"
                                    onclick="window.open('/?person-id=${person.id}&person-name=${person.full_name}', '_blank')"
                                    style="margin: 10px auto 0 auto; display: block;"
                                >
                                    Show entries with this person
                                </button>
                            `
                            console.log(content)
                            instance.setContent(content)
                        })
                    }
                })
            })
        });
    </script>
{% endblock %}